@model IEnumerable<CO550_Project_Razor.Models.FilmShow>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FilmShowID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FilmShowID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FilmShowID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
